<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Tack, vi har sparat dina uppgifter. </h3>
    </div>
    <div class="panel-body">
        <p>
            Vad vill du göra nu?
        </p>
        <p>
            <a ng-href="tel:084429291" class="btn btn-primary">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                Ring kundexpert
            </a>
        </p>
        <p>
            <a ng-href="chat.html?phoneNumber={{ visitorNumber }}" target="_self">
                <img src="https://www.snapengage.com/statusImage?w=4726717d-6996-49e8-b55d-32faba9a4f23" alt="Contact us" border="0">
            </a>
        </p>
        <!--<p>
            <a ng-click="openChat(visitorNumber)">
                <img src="https://www.snapengage.com/statusImage?w=4726717d-6996-49e8-b55d-32faba9a4f23" alt="Contact us" border="0">
            </a>
        </p>-->
        <p>
            <a ng-click="requestsAnswerBySms(visitorNumber,'kundcenter')" class="btn btn-primary">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                Få svar via sms
            </a>
        </p>
        <div ng-if="contactResponseMessage != null">{{ contactResponseMessage }}</div>
    </div>
</div>